@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadein {
	/* Firefox */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadein {
	/* Safari and Chrome */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-o-keyframes fadein {
	/* Opera */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
section,
div,
img,
span {
	box-sizing: border-box;
}
html,
body,
#root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	color: white;
	text-decoration: none;
}
a {
	text-decoration: none;
	color: black;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
a:hover,
a:active {
	text-decoration: none;
}

.loader {
	background-color: rgb(25, 148, 25);
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.loader__amount {
	color: white;
	font-size: 60px;
	padding: 20px;
	font-weight: bold;
}
.loader__text {
	color: white;
	font-size: 30px;
}
.loader__logo {
	position: fixed;
	bottom: 5%;
	width: 50%;
}

.home {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15%;

	background-color: rgb(25, 148, 25);
}
.header__text {
	font-size: 35px;
	color: white;
}

.footer {
	display: flex;
	justify-content: center;
	width: 100%;
}
.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 14px;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.5);
	flex-grow: 1;
}

.homeScreen {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}
.divider {
	width: 100%;
	border-bottom: 1px solid rgba(128, 128, 128, 0.37);
}
.home__brand {
	width: 100%;
}
.home__userName {
	font-size: 150%;
	font-weight: bold;
	align-self: flex-start;
	padding: 20px;
	padding-left: 40px;
}
.bacode__img {
	padding-top: 30px;
	width: 100%;
}
.transactionScreen {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
}
.transactionScreen__myPoints {
	background-color: rgb(25, 148, 25);
	text-align: center;
	color: white;
	font-size: 40px;
	padding-bottom: 30px;
}
.transactionScreen__myPoints .pointUp {
	display: inline-block;
	padding: 10px;
	border: 5px dashed rgb(108, 228, 108);
}
.transaction__table {
}
.transaction__table .transactionScren__tableHeader {
	display: flex;
	justify-content: space-evenly;
}
.transactionScren__tableHeader .tableHeader {
	flex-grow: 1;
	border: 1px solid rgba(255, 255, 255, 0.37);
	text-align: center;
	padding: 10px;
	font-size: 20px;
	background-color: rgb(44, 102, 44);
	color: white;
}

.tr_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 15px;
	animation: fadein 1s;
	-moz-animation: fadein 1s; /* Firefox */
	-webkit-animation: fadein 1s; /* Safari and Chrome */
	-o-animation: fadein 1s; /* Opera */
}
.tr_item {
	text-align: center;
}
.tr_name {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
}
.tr_name span {
	font-size: 14px;
	font-weight: bold;
	width: 100%;
}
.tr_logo {
	width: 60px;
	height: 50%;
	object-fit: cover;
	margin-bottom: 10px;
}
.tr_point {
	font-size: 140%;
	font-weight: bold;
	color: rgb(25, 148, 25);
	width: 50vw;
}
.tr_time {
	padding-right: 35px;
	font-size: 90%;
	width: 20vw;
}

.productScreen {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.productScreen > div {
	height: 100%;
	background-color: rgba(49, 161, 105, 0.26);
}
.pr_row {
	padding: 10px;
}
.pr_container {
	border-radius: 5%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	animation: fadein 1s;
	-moz-animation: fadein 1s; /* Firefox */
	-webkit-animation: fadein 1s; /* Safari and Chrome */
	-o-animation: fadein 1s; /* Opera */
}
.pr_img {
	width: 70px;
	height: 70px;
	object-fit: cover;
}
.pr_content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pr_content__item {
	font-size: 20px;
	padding: 5px;
}
.pr_content__item:last-child {
	font-size: 20px;
	font-weight: bold;
	color: green;
}

.mediaScreen {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.mediaScreen > div {
	height: 100%;
	background-color: rgba(49, 161, 105, 0.26);
}
.youtubePlayer {
	width: 100vw;
}

.mediaList {
	background-color: white;
	border-radius: 10%;
	margin: 20px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.mediaItem {
	font-size: 18px;
	padding: 12px;
}

.active {
	width: 100%;
	height: 100%;
	background-color: rgba(25, 148, 25, 0.822);
	color: white;
}
